// Place all the styles related to the api/events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// EVENT INDEX //

.wrapper {
  width: 100%;
  // display: flex;
  // flex-direction: column;
  // align-items: center;
}

.small-event-index {
  border: 1px solid blue;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.small-event-index h6 {
  display: none;
}

.large-event-index {
  width: 65%;
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}

// .large-event-index div:first-child h6 {
//   margin-top: 25px;
// }

.full-page-event-index h6 {
  display: block;
  font-size: 20px;
  font-family: sans-serif;
  font-weight: bold;
  padding-left: 5px;
  margin: 10px 0px;
}

.large-event-item {
  width: 100%;
  border-radius: 5px;
  background-color: white;
  border: 1px solid gray;
  display: flex;
  justify-content: space-between;
  font-family: sans-serif;
  transition: all .2s ease-in-out;
}

.large-event-item:hover {
  transform: scale(1.05)
}

.event-item-time {
  display: flex;
  justify-content: center;
  border: 1px solid red;
  height: auto;
  width: 20%;
  // margin-right: 5%;
}

.event-item-info {
  border: 1px solid blue;
  height: 100%;
  width: 75%;
  display: flex;
  flex-direction: column;
}

.large-event-item h3 {
  font-weight: lighter;
  font-size: 20px;
  color: gray;
}

.event-item-info h1 {
  font-size: 20px;
  font-weight: bold;
  color: black;
  margin: 5px 0px;
}

.event-item-info h2 {
  font-size: 15px;
  font-weight: bold;
  color: gray;
}

.small-event-item {
  display: flex;
  flex-direction: column;
  height: auto;
  width: auto;
  font-size: 15px;
  font-family: sans-serif;
  margin: 10px 0px;
  padding: 5px;
  border-radius: 5px;
  background-color: white;
  transition: all .2s ease-in-out;
}

.small-event-item:hover {
  transform: scale(1.05)
}

.small-event-item button {
  width: 50%;
  margin: 10px 0px 5px 25%;
}

.small-event-item button:hover {
  cursor: pointer;
}

.full-page-event-index {
  width:100%;
  display: flex;
  justify-content: space-between;
  width: 75%;
  margin-top: 50px;
}

.calendar-container {
  height: 100%;
  width: 30%;
  // border: 1px solid purple;
}

///////// EVENT PAGE /////////

.event-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  // margin-bottom: 100px;
  background-color: rgb(245, 245, 245);
}

.event-header {
  width: 100%;
  height: 200px;
  background-color: white;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid lightgray;
  margin-bottom: 50px;
}

.header-content {
  height: 90%;
  width: 75%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-content h3 {
  font-size: 15px;
  font-family: sans-serif;
  color: gray;
  margin-bottom: 5px;
}

.event-header-info {
  width: 70%;
  height: auto;
}

.event-header-info h1 {
  font-size: 30px;
  font-family: sans-serif;
  font-weight: bold;
  color: black;
  margin: 5px 0px 15px 0px;
}

.event-header-info h2 {
  font-size: 20px;
  font-family: sans-serif;
  color: gray;
}

.rsvp-info {
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.event-actions {
  margin-top: 5px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.event-actions button {
  width: 75%;
  height: 25px;
  background-color: gray;
  border-radius: 0px;
  font-size: 15px;
  font-weight: bold;
  color: white;
}

.event-info {
  width: 35%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 5px;
  font-size: 20px;
  font-family: sans-serif;
  font-weight: lighter;
  color: gray;
}

.event-info h2 {
  margin: 10px 0px 10px 10px;
}
