// Place all the styles related to the api/events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// EVENT INDEX // (found on group page and user homepage)

.event-index {
  border: 1px solid blue;
  width: 100%;
}

.small-event-item {
  display: flex;
  flex-direction: column;
  height: auto;
  width: auto;
  font-size: 15px;
  font-family: sans-serif;
  margin: 10px 0px;
  padding: 5px;
  border-radius: 5px;
  background-color: white;
  transition: all .2s ease-in-out;
}

.small-event-item:hover {
  transform: scale(1.05)
}

.small-event-item button {
  width: 50%;
  margin: 10px 0px 5px 25%;
}

.small-event-item button:hover {
  cursor: pointer;
}

.event-index-item {
  border: 1px solid green;
  width: auto;
  padding: 2%;
  display: flex;
  justify-content: space-between;
}


.event-index-item-details {
  border: 1px solid yellow;
  float: left;
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

.event-index-item-rsvp {
  border: 1px solid yellow;
  float: right;
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

///////// EVENT PAGE /////////

.event-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 100px;
  background-color: lightgray;
}

.event-header {
  width: 100%;
  height: 200px;
  background-color: white;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid lightgray;
  margin-bottom: 50px;
}

.header-content {
  height: 90%;
  width: 75%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-content h3 {
  font-size: 15px;
  font-family: sans-serif;
  color: gray;
  margin-bottom: 5px;
}

.event-header-info {
  width: 70%;
  height: auto;
}

.event-header-info h1 {
  font-size: 30px;
  font-family: sans-serif;
  font-weight: bold;
  color: black;
  margin: 5px 0px 15px 0px;
}

.event-header-info h2 {
  font-size: 20px;
  font-family: sans-serif;
  color: gray;
}

.rsvp-info {
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.event-actions {
  margin-top: 5px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.event-actions button {
  width: 75%;
  height: 25px;
  background-color: gray;
  border-radius: 0px;
  font-size: 15px;
  font-weight: bold;
  color: white;
}

.event-and-group-name {
  display: flex;
  flex-direction: column;
}

.event-and-group-name h1 {
  color: black;
  font-size: 50px;
  font-family: sans-serif;
}

.event-and-group-name h2 {
  color: gray;
}

.event-rsvp-info {
  border: 1px solid yellow;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.event-details {
  border: 1px solid blue;
  width: 90%;
  float:left;
  margin: 2%;
}

.event-description {
  width: 95%;
  border: 1px solid green;
}

.event-info {
  width: 35%;
  background-color: white;
  border-radius: 5px;
}




.event-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 100px;
}

.event-container .image-container {
  // margin-top: -50px;
  height: 400px;
  overflow: hidden;
  margin-bottom: 50px;
}

.event-container .image {
  // object-fit: cover;
  margin-top: -350px;
}

.event-container .show-main {
  background-color: pink;
  width: 800;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 20px 0px 20px 0px;
  color: white;
  text-decoration: none;
}

.show-main h3 {
  color: black;
  font-size: 15px;
  font-weight: bold;
}

.show-main h1 {
  font-size: 20px;
  font-weight: bold;
  color: white;
}
