// Place all the styles related to the api/groups controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// GROUP INDEX

.group-index-container {
  display: flex;
  justify-content: center;
}

.group-index {
  width: 500px;
  display: flex;
  justify-content: center;
  background-color: pink;
  margin-top: 50px;
}

.group-item {
  background-color: white;
}


// GROUP SHOW

.show-container {
  display: flex;
  justify-content: center;
  align-items: center;
  // background-color: red;
  flex-direction: column;
  margin-top: 50px;
}

/// HEADER

.show-header {
  width: 800px;
  background-color: white;
  display: flex;
  justify-content: space-around;
  background-color: lightgray;
  // border: 1px solid black;
  padding: 15px 0px;
}

.show-header h3 {
  font-size: 30px;
  font-weight: bold;
  color: white;
}

.show-header button {
  margin-left: 10px;
  cursor: pointer;
  border-radius: 10px;
  padding: 10px;
  background-color: white;
  font-size: 15px;
  color: pink;
  border: 0px;
}

.show-header button:hover {
  background-color: pink;
  color: white;
}

.show-header p {
  color: white;
}

/// BODY

.show-main {
  display: flex;
  justify-content: center;
  width: 800px;
  // background-color: lightgray;
  height: 300px;
}

.left-nav {
  width: 250px;
  background-color: pink;
  margin-right: 50px;
}

.left-content {
  margin: 25px;
  width: 200;
}

.group-event-index {
  width: 500px;
  background-color: pink;

  padding: 15px;
}


// EVENT INDEX

.event-index-container h1 {
  padding-left: 10px;
  padding-top: 10px;
  font-size: 20px;
  font-weight: bold;
}

.event-index-container .event-index {
  margin-top: 5px;
  display: flex;
  justify-content: center;
}

.event-index {
  width: 500px;
  display: flex;
  justify-content: center;
  background-color: pink;
}

.event-item {
  background-color: white;
  width: 450px;
  padding: 0px 15px;
}
