// Place all the styles related to the api/groups controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// GROUP IMAGE

// show-container, image-container, image
.show-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 100px;
}

.show-container .image-container {
  margin-top: -50px;
  height: 400px;
  overflow: hidden;
  margin-bottom: 50px;
}

.show-container .image {
  // object-fit: cover;
  margin-top: -400px;
}


/// GROUP SHOW

.show-container {
  display: flex;
  justify-content: center;
  align-items: center;
  // background-color: red;
  flex-direction: column;
  margin-top: 50px;
}

////// HEADER

.show-header {
  width: 800px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  // background-color: lightgray;
  // border: 1px solid black;
  padding: 15px 0px;
}

.show-header h3 {
  font-size: 30px;
  font-weight: bold;
  // color: white;
  color:pink;
}

.show-header button {
  margin-top: 15px;
  cursor: pointer;
  border-radius: 10px;
  padding: 10px;
  background-color: pink;
  font-size: 15px;
  color: white;
  border: 0px;
}

.left-content button {
  margin-left: 10px;
  cursor: pointer;
  border-radius: 10px;
  padding: 10px;
  background-color: white;
  font-size: 15px;
  color: pink;
  border: 0px;
}

.show-header button:hover {
  background-color: darken(pink, 10);
  color: white;
}

.left-content button:hover {
  background-color: darken(white, 10);
}

.show-header p {
  // color: white;
  color:gray;
}

.header-left {
  margin-left: 30px;
  justify-content: center;
}

.header-right {
  width: 450px;
  border: solid 1px gray;
  border-radius: 5px;
  padding: 5px;
}

////// MAIN

.show-main {
  display: flex;
  justify-content: center;
  width: 800px;
  // background-color: lightgray;
  // height: 300px;
}

.left-nav {
  width: 250px;
  background-color: pink;
  margin-right: 50px;
  border-radius: 10px;
}

.left-content {
  margin: 25px;
  width: 200;
}

.left-content h3 {
  font-size: 15px;
  font-weight: bold;
}

.left-content h1 {
  font-size: 20px;
  font-weight: bold;
  color: white;
}

.show-details {
  width: 500px;
  background-color: pink;
  border-radius: 10px;
  padding: 15px;
}

.show-details


// EVENT INDEX

.event-index-container h1 {
  padding-left: 10px;
  padding-top: 10px;
  font-size: 20px;
  font-weight: bold;
  // margin-top: 50px;
  color: white;
}

.event-date {
  font-weight: bold;
  font-size: 20px;
  margin: 0px 0px 5px 20px;
}

.event-item h2 {
  font-weight: bold;
}

.event-index-container .event-index {
  // margin-top: 5px;
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
}

.event-index {
  width: 500px;
  display: flex;
  justify-content: center;
  background-color: pink;
  border-radius: 10px;
  // margin-bottom: 10px;
}

.event-item {
  background-color: white;
  width: 450px;
  padding: 5px 15px;
  border-radius: 10px;
  margin-bottom: 10px;
}



.event-item:hover {
  background-color: darken(white, 10);
}
