// Place all the styles related to the api/sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.session-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid yellow;
  font-family: sans-serif;
}

.session-form {
  display:flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid blue;
  width: 100%;
}

.modal-logo {
  font-family: cursive;
  font-size: 45px;
  font-weight: bold;
  color: #FF0B55;
  border: 1px solid red;
}

.modal-type {
  margin: 25px 0px;
  font-size: 25px;
  font-weight: lighter;
  font-family: sans-serif;
  border: 1px solid red;
}

.modal-errors {
  border: 1px solid red;
  color: red;
  margin: 10px 0px;
}


.user-inputs {
  display: flex;
  border: 5px solid orange;
  margin: 10px 0px;
  width: 800px;
  font-family: sans-serif;

}

.user-inputs > div {
  border: 1px solid green;
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 5px;
}

//
.session-label {
  display: flex;
  flex-direction: column;
  border: 1px solid red;
  width: 95%;
  margin: 10px 0px;
}

.session-form p {
  font-size: 25px;
  font-weight: lighter;
  font-family: sans-serif;
  // margin-left: 5%;
}

.session-input {
  border: 1px solid red;
  width: inherit;
  // height: 100%;
  // width: 100%;
  font-size: 20px;
  // padding-left: 5%;
}
//
// .interests-container {
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   width: 130%;
//   border: 1px solid green;
// }
//
.interests-container p {
  // font-size: 20px;
  // margin:10px 0px;
  display: flex;
  justify-content: center;
}
//
//
.interests {
  display: grid;
  grid-template-columns: 48% 48%;
  grid-column-gap: 4%;
  grid-row-gap: 15px;
}
//
.session-checkbox {
  display: flex;
  align-items: center;
  border: 1px solid yellow;
}

.modal-nav-options {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.session-button {
  cursor: pointer;
  background-color: #FF0B55;
  font-size: 15px;
  color: white;
  bottom: 15px 0px;
  width: 50%;
  height: 25px;
  margin: 15px 0px;
}

.session-button:hover {
  background-color: darken(#FF0B55, 15);
}

.navlink {
  color: #FF0B55;
  background-color: inherit;
  border: 0px;
  font-size: 20px;
  cursor: pointer;
}

.navlink:hover {
  color: darken(#FF0B55, 15);
}
