// Place all the styles related to the api/sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.session-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.session-form {
  display:flex;
  flex-direction: column;
  align-items: center;
}

.modal-logo {
  color: pink;
  font-size: 45px;
  font-weight: bold;
}

.modal-type {
  margin: 15px 0px;
  font-size: 25px;
  font-weight: bold;
}

.session-label {
  font-size: 45px;
  font-weight: bold;
  font-weight: bold;
  font-size: 18px;
}

.session-input {
  margin-left: 10px;
  height: 20px;
  border-radius: 5px;
  font-size: 15px;
}

.session-button {
  cursor: pointer;
  border-radius: 10px;
  padding: 10px;
  background-color: pink;
  font-size: 15px;
  color: white;
  border: 0px;
  margin-bottom: 15px;
}

.session-button:hover {
  background-color: darken(pink, 10);
}
