
.homepage {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.splash-container {
  height: 500px;
  width: 100%;
  background-color: black;
  z-index: -2;
}

.splash-text {
  // float: left;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.splash-text h1 {
  font-family: sans-serif;
  font-size: 50px;
  color: white;
  margin-top: 50px;
}

.splash-text h2 {
  font-family: cursive;
  color: #355e3b;
  display: inline;
}

.stripes {
  // display: flex;
  // justify-content: space-between;
  display: flex;
  flex-direction: column;

  position: absolute;
  background-color: red;
  height: 500px;
  width: 20%;
  z-index: -1;
  animation: 10s linear 0s infinite move_stripe;
}

.single-stripe {

  position: absolute;
  background-color: red;
  height: 50px;
  width: 20%;
  z-index: -1;
  animation: 10s linear 0s infinite move_stripe;
}
  @keyframes move_stripe { from { margin-left: -20%; } to { margin-left: 100%; }  }

/// SEARCH BY GROUP

.image-container .search-bar:hover {
  background-color: darken(white, 10);
}

.search {
  margin: 30px 0px;
  // margin-top: -150px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-bar {
  -webkit-appearance: none;
  padding-left: 10px;
  width: 500px;
  height: 50px;
  font-size: 20px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  // border-radius: 10px;
  border: 5px solid #355e3b;
}

.search-bar:hover {
  background-color: darken(white, 10);
}

// .search-button {
//   height: 50px;
//   cursor: pointer;
//   border-top-right-radius: 10px;
//   border-bottom-right-radius: 10px;
//   // border-radius: 10px;
//   padding: 10px;
//   background-color: #355e3b;
//   font-size: 15px;
//   color: gray;
//   border: 3px solid #355e3b;
// }
//
// .search-button:hover {
//   background-color: white;
// }


/// DISPLAY GROUP INDEX

.results {
  display: flex;
  justify-content: center;
}

.group-index-container {
  display: flex;
  justify-content: center;
}

.group-index {
  width: 500px;
  display: flex;
  justify-content: center;
  background-color: #355e3b;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.group-item {
  background-color: white;
  width: 450px;
  padding: 10px;
  border-radius: 10px;
}
.group-item:hover {
  background-color: darken(white, 10);
  cursor: pointer;
}

.item-content {
  display: flex;
  flex-direction: row;
}

.item-content h1 {
  font-weight: bold;
}

.item-content p {
  margin-left: 10px;
  margin-top: 3px;
}

.item-content p, .group-item p, .event-item p {
  color: gray;
  margin-top: 0px;
}
