
.homepage {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}


/// SEARCH BY GROUP

.search {
  margin: 30px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-bar {
  -webkit-appearance: none;
  padding-left: 10px;
  width: 500px;
  height: 50px;
  font-size: 20px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  // border-radius: 10px;
  border: 3px solid pink;
}

.search-bar:hover {
  background-color: darken(white, 10);
}

// .search-button {
//   height: 50px;
//   cursor: pointer;
//   border-top-right-radius: 10px;
//   border-bottom-right-radius: 10px;
//   // border-radius: 10px;
//   padding: 10px;
//   background-color: pink;
//   font-size: 15px;
//   color: gray;
//   border: 3px solid pink;
// }
//
// .search-button:hover {
//   background-color: white;
// }


/// DISPLAY GROUP INDEX

.results {
  display: flex;
  justify-content: center;
}

.group-index-container {
  display: flex;
  justify-content: center;
}

.group-index {
  width: 500px;
  display: flex;
  justify-content: center;
  background-color: pink;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.group-item {
  background-color: white;
  width: 450px;
  padding: 10px;
  border-radius: 10px;
}
.group-item:hover {
  background-color: darken(white, 10);
  cursor: pointer;
}

.item-content {
  display: flex;
  flex-direction: row;
}

.item-content p {
  margin-left: 10px;
  margin-top: 3px;
}

.item-content p, .group-item p {
  color: gray;
}
