
.homepage {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}


/// SPLASH ANIMATION

.splash-container {
  height: 500px;
  width: 100%;
  // background-color: white;
  // z-index: -2;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.splash-video {
  // height: 700px;
  width: 100%;
  // z-index: -1;
}

.splash-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  // z-index: 1;
  position: absolute;
  margin-top: -50px;
}

.splash-text h1 {
  font-family: sans-serif;
  font-size: 50px;
  color: white;
  text-shadow: 2px 2px black;
  margin-bottom: 25px;
}

.splash-text button {
  height: 30px;
  width: 200px;
  background-color: #FF0B55;
  border-radius: 5px;
  border: 0px;
  display:flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: sans-serif;
  font-size: 15px;
  font-weight: bold;
  z-index: 10;
}

.splash-container button:hover {
  cursor: pointer;
  background-color: darken(#FF0B55, 10);
  color: darken(white, 10);
}

// .other-class {
//   padding: 25px 0px;
// }

/// SEARCH BY GROUP

.search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  width: 75%;
  padding: 5px;
  background-color: black;
  color: white;
}

.search div {
  height: 100%;
}

.search-bar {
  -webkit-appearance: none;
  padding-left: 10px;
  width: 50%;
  height: 100%;
  font-size: 20px;
}

.search-bar input {
  width: 100%;
}

.search-bar input:hover {
  background-color: darken(white, 10);
}

.search-options {
  -webkit-appearance: none;
  cursor: pointer;
  height: 100%;
  font-size: 20px;
  color: white;
  background-color: black;
  border: 1px solid gray;
  border-radius: 0px
}


/// DISPLAY GROUP INDEX

.group-index {
  margin: 100px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 75%;
}

.group-index h1 {
  font-size: 50px;
  font-family: sans-serif;
  margin: 20px 0px
}

// .group-header {
//   height: 400px;
//   width: 100%;
//   display: flex;
//   justify-content: center;
//   background-color: lightgray;
// }
//
// .group-header-text {
//   margin: 100px 0px;
//   width: 75%;
//   color: black;
//   font-size: 50px;
//   font-family: sans-serif;
// }
