.navbar {
  background-color: pink;
  // background-color: gray;
  display: flex;
  justify-content: space-between;
  height: 100px;
  padding: 0px 100px;
  margin: auto;
  align-items: center;
}

.navbar button {
  margin-left: 10px;
  cursor: pointer;
  border-radius: 10px;
  padding: 10px;
  background-color: white;
  font-size: 15px;
  color: gray;
  border: 0px;
}

.navbar button:hover {
  background-color: gray;
  // background-color: pink;
  color: white;
}

.logo {
  color: white;
  font-size: 45px;
  font-weight: bold;
}

.logo h1:hover {
  color: gray;
  // color:pink;
}

.session-links {
  display: flex;
}

.user-greeting {
  display: flex;
}

.user-greeting h2 {
  margin-top: 2px;
  margin-right: 10px;
  font-size: 30px;
  color: white;
}

////////// DROP DOWN //////////////

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown .dropdown-button {
  // margin-top: 5px;
  margin-right: 15px;
  cursor: pointer;
  border-radius: 0px;
  padding: 0px;
  background-color: pink;
  // background-color: gray;
  font-family: serif;
  font-size: 30px;
  font-weight: bold;
  color: white;
}

.dropdown .dropdown-button:hover {
  background-color: pink;
  // background-color: gray;
  color:gray;
  // color:pink;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown-menu {
  display: none;
  border-radius: 10px;
  position: absolute;
  right: 15px;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 10;
}

.dropdown-menu .dropdown-option {
  color: black;
  width: 160px;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  margin-left: 0;
}

.dropdown-menu .dropdown-option:hover {
  background-color: gray;
  // background-color: pink;
}
