<!DOCTYPE html>
<html>
  <head>
    <title>Getdown</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">


  </head>

  <body>
    <%= yield %>
  </body>
</html>
